---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Homepage -->
  <url>
    <loc>{{ site.url }}/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  
  <!-- Search Page -->
  <url>
    <loc>{{ site.url }}/search.html</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <!-- Book Pages -->
  {%- for book in collections.books %}
  <url>
    <loc>{{ site.url }}{{ book.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  {%- endfor %}
</urlset>
